<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<title>设备管理</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<!--  -->
<link rel="stylesheet" href="/sp/public/weui/css/weui.css">
<link rel="stylesheet" href="/sp/public/weui/css/weui2.css"/>
<link rel="stylesheet" href="/sp/public/weui/css/weui3.css"/>
<script src="/sp/public/widgets/layer.m/layer.m.js"></script>
<script src="/sp/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/sp/public/widgets/dropload/dropload.min.js"></script>
<script src="/sp/public/widgets/angularjs/angular.min.js"></script>
<script src="/sp/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/sp/public/js/zepto.min.js"></script>
<script type="text/javascript">
angular.module('app', ['ngTouch'])
		.value('appValue', {
		    index: 1,
		    size: 10
		})
		.factory('agentRemote',['$http','appValue',function($http, appValue){
			return {
				query:function(data){
					return $http({
						method:'post',
						url:'/sp/mobile/Execute/queryDevice',
						params:data
					});
				}
			}
		}])
		.controller('MainController',['$scope','appValue','agentRemote','$timeout',function($scope, appValue,agentRemote,$timeout){
			$scope.controlNum = 0;//控制器
			$scope.sensorNum = 0;//传感器
			$scope.radiotubeNum = 0;//电磁阀
			$scope.liquidNum = 0;//液位仪
			$scope.mosqNum = 0;//驱蚊除味器
			$scope.wifiNum = 0;//无线
			$scope.fan = 0;//风扇
			$scope.light = 0;//灯光
			//设备管理--控制器
			$scope.toDeviceControl = function(){
				location.href="/sp/mobile/Skip/toDeviceControl?type=A";
			}
			//设备管理--传感器
			$scope.toDeviceSensor = function(){
				location.href="/sp/mobile/Skip/toDeviceSensor?type=B";
			}
			//设备管理--电磁阀
			$scope.toDeviceRadiotube = function(){
				location.href="/sp/mobile/Skip/toDeviceRadiotube?type=D";
			}
			//设备管理--液位仪
			$scope.toDeviceLiquid = function(){
				location.href="/sp/mobile/Skip/toDeviceLiquid?type=C";
			}
			//设备管理--wifi
			$scope.toDeviceWifi = function(){
				location.href="/sp/mobile/Skip/toDeviceWifi?type=F";
			}
			//设备管理--驱蚊除味器
			$scope.toDeviceMosq = function(){
				location.href="/sp/mobile/Skip/toDeviceMosq?type=E";
			}
			//设备管理--灯光
			$scope.toDeviceLight = function(){
				location.href="/sp/mobile/Skip/toDeviceLight?type=G";
			}
			//设备管理--排风扇
			$scope.toDeviceFan = function(){
				location.href="/sp/mobile/Skip/toDeviceFan?type=H";
			}
			$scope.initData = function(){
				var data = {"businessStatus":'0','deviceStatus':'A'};
				agentRemote.query(data).then(function(response){
					$scope.controlNum = response.data.data.data.length
				},function(response){
				});
				
				var data_1 = {"businessStatus":'0','deviceStatus':'B'};
				agentRemote.query(data_1).then(function(response){
					$scope.sensorNum = response.data.data.data.length
				},function(response){
				});
				var data_2 = {"businessStatus":'0','deviceStatus':'D'};
				agentRemote.query(data_2).then(function(response){
					$scope.radiotubeNum = response.data.data.data.length
				},function(response){
				});
				var data_3 = {"businessStatus":'0','deviceStatus':'C'};
				agentRemote.query(data_3).then(function(response){
					$scope.liquidNum = response.data.data.data.length
				},function(response){
				});
				var data_4 = {"businessStatus":'0','deviceStatus':'F'};
				agentRemote.query(data_4).then(function(response){
					$scope.wifiNum = response.data.data.data.length
				},function(response){
				});
				var data_5 = {"businessStatus":'0','deviceStatus':'E'};
				agentRemote.query(data_5).then(function(response){
					$scope.mosqNum = response.data.data.data.length
				},function(response){
				});
				var data_6 = {"businessStatus":'0','deviceStatus':'G'};
				agentRemote.query(data_6).then(function(response){
					$scope.light = response.data.data.data.length
				},function(response){
				});
				var data_7 = {"businessStatus":'0','deviceStatus':'H'};
				agentRemote.query(data_7).then(function(response){
					$scope.fan = response.data.data.data.length
				},function(response){
				});
				
			}
			$scope.initData();
		}]);
</script>
</head>
<body ng-cloak ng-controller="MainController" ontouchstart style="background-color: #f8f8f8;">
<div class="page-bd" >
	<div style="margin:5px;">
	 	<h1 class="page-hd-title">
            设备管理
        </h1>
        <p class="page-hd-desc">请按照分类维护相关设备！</p>
	 </div>
	<div class="weui-flex" style="margin-top:20%;">
		      <div class="weui-flex-item" >
		      	<div class="placeholder" style="background-color: #f8f8f8;">
		      		<img alt="控制器" src="/sp/public/images/rush/kzq.png" style="width:30px;height:30px;" ng-click="toDeviceControl()"   >
		      		<div style="margin-top:-10%;font-size:13px;color:black;">控制器({{controlNum}})</div>
		      	</div>
		      </div>
		      <div class="weui-flex-item" >
		      	<div class="placeholder" style="background-color: #f8f8f8;">
		      		<img alt="传感器" src="/sp/public/images/rush/cgq.png" style="width:30px;height:30px;" ng-click="toDeviceSensor()">
		      		<div style="margin-top:-10%;font-size:13px;color:black;">传感器({{sensorNum}})</div>
		      	</div>
		      </div>
	 </div>
	 <!--  -->
	 <div class="weui-flex" style="margin-top:10%;">
           <div class="weui-flex-item" >
           	<div class="placeholder" style="background-color: #f8f8f8;">
            	<img alt="电磁阀" src="/sp/public/images/rush/dcf.png" style="width:30px;height:30px;" ng-click="toDeviceRadiotube()">
	      		<div style="margin-top:-10%;font-size:13px;color:black;">电磁阀({{radiotubeNum}})</div>
           	</div>
           </div>
           <div class="weui-flex-item" >
           	<div class="placeholder" style="background-color: #f8f8f8;">
           		<img alt="液位仪" src="/sp/public/images/rush/ywy.png" style="width:30px;height:30px;" ng-click="toDeviceLiquid()">
	      		<div style="margin-top:-10%;font-size:13px;color:black;">液位仪({{liquidNum}})</div>
           	</div>
           </div>
      	</div>
      	<!--  -->
       	<div class="weui-flex" style="margin-top:10%;">
            <div class="weui-flex-item" >
            	<div class="placeholder" style="background-color: #f8f8f8;">
	            	<img alt="WIFI" src="/sp/public/images/rush/wifi.png" style="width:30px;height:30px;" ng-click="toDeviceWifi()">
		      		<div style="margin-top:-10%;font-size:13px;color:black;">WIFI({{wifiNum}})</div>
            	</div>
            </div>
            <div class="weui-flex-item">
            	<div class="placeholder" style="background-color: #f8f8f8;">
            		<img alt="驱蚊除味" src="/sp/public/images/rush/mosq.png" style="width:30px;height:30px;" ng-click="toDeviceMosq()" >
            		<div style="margin-top:-10%;font-size:13px;color:black;">驱蚊除味({{mosqNum}})</div>
            	</div>
            </div>
       	</div>
       	<!--  -->
       	<div class="weui-flex" style="margin-top:10%;">
            <div class="weui-flex-item" >
            	<div class="placeholder" style="background-color: #f8f8f8;">
	            	<img alt="灯光" src="/sp/public/images/rush/light.png" style="width:30px;height:30px;" ng-click="toDeviceLight()">
		      		<div style="margin-top:-10%;font-size:13px;color:black;">灯光({{light}})</div>
            	</div>
            </div>
            <div class="weui-flex-item">
            	<div class="placeholder" style="background-color: #f8f8f8;">
            		<img alt="排风扇" src="/sp/public/images/rush/fan.png" style="width:30px;height:30px;" ng-click="toDeviceFan()" >
            		<div style="margin-top:-10%;font-size:13px;color:black;">风扇({{fan}})</div>
            	</div>
            </div>
       	</div>
</div>
</body>
</html>