<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/sp/public/css/main.css" />
<link rel="stylesheet" href="/sp/public/weui/css/weui.css">
<link rel="stylesheet" href="/sp/public/weui/css/weui2.css"/>
<link rel="stylesheet" href="/sp/public/weui/css/weui3.css"/>
<link rel="stylesheet" href="/sp/public/weui/css/weui.min.css">
<link rel="stylesheet" href="/sp/public/weui/css/jquery-weui.css"/>

<script src="/sp/public/widgets/layer.m/layer.m.js"></script>
<script src="/sp/public/widgets/zeptojs/zepto.min.js"></script>
<script src="https://cdn.bootcss.com/ionic/1.3.2/js/ionic.bundle.min.js"></script>
<script src="/sp/public/widgets/dropload/dropload.min.js"></script>
<script src="/sp/public/widgets/angularjs/angular.min.js"></script>
<script src="/sp/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/sp/public/js/zepto.min.js"></script> 
<script src="/sp/public/rush/js/rush.js"type="text/javascript"></script>
<script type="text/javascript">
angular.module('app', ['ngTouch','ionic'])
		.value('appValue', {
		    index: 1,
		    size: 10
		})
		.factory('local',['$http','appValue',function($http, appValue){
			return {
				query:function(index, size){
					return $http({
						method:'post',
						url:'/sp/mobile/Execute/querytoilet',
						params: {
                             PAGE_INDEX: index || appValue.index,
                             PAGE_SIZE: size || appValue.size
                         }
					});
				}
			}
		}])
		.controller('MainController',['$scope','appValue','local','$timeout',function($scope, appValue, local,$timeout){
		    $scope.lists = [];
		    function writeLog(methodName,desc,code){
				 var parmData = {methodName:methodName,errorDesc:desc,errorCode:code};
				 $.ajax({
					 type:'post',
					 url:'/sp/mobile/Execute/saveScLog',
					 data:parmData,
					 success:function(data){
					 }
				 });
			 }
		    
		    //初始化
		    $scope.initLocal = function(me){
		    	 appValue.index = 1;
		    	 local.query(1).then(function(response){
		    		 console.log(response);
		    		 $scope.lists = response.data.data.data;
		    		 if (me && me.resetload)
                         me.resetload();
		    	 });
		     }
		    //详细信息
		    $scope.agentRemoteInfo = function(status){
		    	window.location.href="../../../sp/mobile/Skip/toRushChat?status="+status;
		    }
		    //详细信息callback
		    window.tolietInfo = function(data){
		    	if(data.rows.length > 0){
		    		window.location.href="../../../sp/mobile/Skip/toRushChat?status="+data.rows[0].status;
		    	}else{
		    		$.toast('暂无数据', "cancel");
		    		writeLog('/toilet/list','卫生间详细信息无数据','000')
		    	}
		    }
		    //强冲controlCode控制编码,radiotubeCode类型编号比如A1代表第一个大便池，A2代表第二个大便池
		    $scope.flushOpen = function(controlCode,radiotubeCode){
		    	$.ajax({
					 type:'post',
					 contentType: 'application/json',
					 url:'/watersaving/api/toilet/flushOpenCmd',
					 data:JSON.stringify({
							controlCode:'123456',
							radiotubeCode:'A0'
					 }),
					 success:function(data){
						 data = JSON.parse(data);
						 if(data.code == '0'){
				    		 $.toast(data.msg);
				    	}else{
				    		$.toast(data.msg, "cancel");
				    		writeLog('/toilet/flushOpenCmd',data.msg,data.code)
				    	}
					 }
				 });
		    }
		    
		    //拖拽刷新
		    $scope.nextPage = function(me){
		    	local.query(++appValue.index).then(function(response){
		    		 if(response.data.data.data.length > 0){
		    			 $scope.lists = response.data.data.data;
		    		 }
		    		 if (me && me.resetload)
                         me.resetload();
		    	 }, function (response) {
                     //err
                 });
		    }
		    $scope.initLocal();
		     $scope.toBindExplain = function(name,id){
		            location.href="/sp/mobile/Skip/toBindExplain?params="+name+"&id="+id;
		     }
			$('#scroller').dropload({
                 domUp: {
                     domClass: 'dropload-up',
                     domRefresh: '<div class="dropload-refresh">↓下拉刷新</div>',
                     domUpdate: '<div class="dropload-update">↑释放更新</div>',
                     domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
                 },
                 domDown: {
                     domClass: 'dropload-down',
                     domRefresh: '<div class="dropload-refresh">↑上拉加载更多</div>',
                     domUpdate: '<div class="dropload-update">↓释放加载</div>',
                     domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
                 },
                 scrollArea: window,
                 loadUpFn: function (me) {
                     console.log('down');
                     $scope.nextPage();
                     me.resetload();
                 },
                 loadDownFn: function (me) {
                     console.log('up');
                     me.resetload();
                 }
             });
		}])
</script>
</head>
<body ng-cloak ng-controller="MainController"   style="background-color: #f8f8f8;">
<div class="main">
	<div class="content" id="scroller" ng-show="lists.length!=0" >
			<div class="weui_cells" >
		     <div class="weui_cell"  ng-repeat="toilet in lists" >
			     <div class="weui_cell_bd weui_cell_primary" ng-if="toilet.status==1||toilet.status==2||toilet.status==3||toilet.status==4" ng-click="agentRemoteInfo('{{toilet.status}}')">
			         <p class="f-blue" style="font-size:18px;">{{toilet.toiletName}}</p>
			     </div>
			     <div class="weui_cell_bd weui_cell_primary" ng-if="${wxUser.isAdmin} == true && toilet.status==5" ng-click="toBindExplain('{{toilet.toiletName}}','{{toilet.id}}')"  >
			         <p class="f-blue" style="font-size:18px;">{{toilet.toiletName}}</p>
			     </div>
			     <div class="weui_cell_bd weui_cell_primary" ng-if="${wxUser.isAdmin} == false && toilet.status==5">
			         <p class="f-blue" style="font-size:18px;">{{toilet.toiletName}}</p>
			     </div>
			     <div class="weui_cell_bd" style="margin-right:30%;" ng-if="toilet.status == 1" ng-click="agentRemoteInfo('{{toilet.status}}')"><span class='f-green'>运行</span></div>
			     <div class="weui_cell_bd" style="margin-right:30%;" ng-if="toilet.status == 2" ng-click="agentRemoteInfo('{{toilet.status}}')"><span class='f-gray'>冲水</span></div>
			     <div class="weui_cell_bd" style="margin-right:30%;" ng-if="toilet.status == 3" ng-click="agentRemoteInfo('{{toilet.status}}')"><span class='f-red'>异常</span></div>
			     <div class="weui_cell_bd" style="margin-right:30%;" ng-if="toilet.status == 4" ng-click="agentRemoteInfo('{{toilet.status}}')"><span class='f-red'>离线</span></div>
			     <div class="weui_cell_bd" style="margin-right:25%;" ng-if="toilet.status == 5 && toilet.isControl == false||toilet.isLiquid==false||toilet.isMosq==false||toilet.isRadiotube==false||toilet.isSensor==false||toilet.isWifi==false"   ><span class='f-red'>尚未关联设备</span></div>
			     <div class="weui_cell_bd" style="margin-right:20%;" ng-if="toilet.status == 5 && toilet.isControl == true&&toilet.isLiquid==true&&toilet.isMosq==true&&toilet.isRadiotube==true&&toilet.isSensor==true&&toilet.isWifi==true"><span class='f-orange'>关联设备,未链接tcp</span></div>
			     <div class="weui_cell_ft" >
			     <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_primary" ng-if="${wxUser.isAdmin} == true &&(toilet.status == 1 || toilet.status == 3)" ng-click="flushOpen('{{toilet.controlCode}}','A0')">冲A1</a>
			     </div>
		     </div>
			</div> 
			<div class="dropload-down">
		      	<div class="dropload-refresh">
	                  当前<span ng-bind="lists.length"></span>条记录 总共<span ng-bind="total"></span>条记录(滑动刷新)
		       </div>
      		</div>
	</div>
</div>
<div style="background-image:url('/sp/public/images/rush/8.png');background-size:40%;background-repeat:no-repeat;background-position-x:center;background-position-y:center; width:100%;height:550px;">
</div>
</body>
</html>