<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<title>关注学校用户</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<!--  -->
<link rel="stylesheet" href="/sp/public/weui/css/weui.css">
<link rel="stylesheet" href="/sp/public/weui/css/weui2.css"/>
<link rel="stylesheet" href="/sp/public/weui/css/weui3.css"/>

<script src="/sp/public/widgets/layer.m/layer.m.js"></script>
<script src="/sp/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/sp/public/widgets/dropload/dropload.min.js"></script>
<script src="/sp/public/widgets/angularjs/angular.min.js"></script>
<script src="/sp/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/sp/public/js/zepto.min.js"></script>
<script type="text/javascript">
angular.module('app', ['ngTouch'])
		.value('appValue', {
		    index: 1,
		    size: 10
		})
		.factory('agentRemote',['$http','appValue',function($http, appValue){
			return {
				query:function(){
					return $http({
						method:'post',
						url:'/sp/mobile/Execute/queryAttentionUserForSchool'
					});
				}
			}
		}])
		.controller('MainController',['$scope','appValue','agentRemote','$timeout',function($scope, appValue,agentRemote,$timeout){
			$scope.userList = [];
			$scope.click = function(wxOpenId){
				window.location.href="/sp/mobile/Skip/toAttentionUserInfo?wxOpenId="+wxOpenId;
			}
			//初始化微信关注人
			$scope.initPage = function(me){
				agentRemote.query().then(function(response){
					console.log(response);
					$scope.userList = response.data.data.data;
				},function(response){
				})
			}
			$scope.initPage();
		}]);
</script>
</head>
<body ng-cloak ng-controller="MainController" ontouchstart style="background-color: #f8f8f8;">
<div style="margin:9px;">
	 	<h1 class="page-hd-title">
        </h1>
        <p class="page-hd-desc">单击可查看详细信息！</p>
</div>
<table class="weui-table weui-border-tb" >
   <thead>
   <tr><th>名称</th><th>关注时间</th></tr>
   </thead>
   <tbody>
   <tr ng-repeat="user in userList" ng-click="click('{{user.wxOpenId}}')"><td>{{user.nickName}}</td><td>{{user.attentionTime}}</td></tr>
   </tbody>
</table>
</body>
</html>